<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Tom Preston-Werner" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/stylesheets/syntax.css" type="text/css" />
   <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection" />

</head>
<body>

<!-- ClickTale Top part -->
<script type="text/javascript">
var WRInitTime=(new Date()).getTime();
</script>
<!-- ClickTale end of Top part -->

<div class="site">
  <div class="title">
    <a href="/">oguz.bilgic.me</a>
    <a class="extra" href="/">home</a>
    <a class="extra" href="/about.html">about me</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        Oguz Bilgic<br />
        web developer + entrepreneur + USC sophomore<br />
        oguz@bilgic.me
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/oguzbilgic">github.com/oguzbilgic</a><br />
        <a href="http://twitter.com/oguzbilgic">twitter.com/oguzbilgic</a><br />
        <a href="http://facebook.com/oguzbilgic">faceboo.com/oguzbilgic</a>
      </p>
    </div>
    <div class="rss">

    </div>
  </div>
</div>

<a href="http://github.com/oguzbilgic"><img style="position: absolute; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

</body>
</html>

