<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Oguz Bilgic" />

    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection" />

    <!-- Google Analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-947852-17']);
      _gaq.push(['_trackPageview']);    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <!-- Google Analytics END -->
  </head>
  <body>

    <div class="site">
      <div class="title">
        <a href="/">oguz bilgic</a>
        <a class="extra" href="/about.html">about me</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
          Oguz Bilgic<br />
          entrepreneur + USC junior<br />
          obilgic at usc dot edu
          </p>
        </div>
        <div class="links">
          <p>
          <a href="http://github.com/oguzbilgic">Github</a><br />
          <a href="http://twitter.com/oguzbilgic">Twitter</a><br />
          <a href="http://linkedin.com/in/oguzbilgic">Linkedin</a>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>

