<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <meta name="author" content="Oguz Bilgic" />

    <link href='http://fonts.googleapis.com/css?family=PT+Sans+Narrow' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection" />

<!-- Histats.com  START (hidden counter)-->
<script type="text/javascript">document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));</script>
<a href="http://www.histats.com" target="_blank" title="" ><script  type="text/javascript" >
try {Histats.start(1,1306912,4,0,0,0,"");
Histats.track_hits();} catch(err){};
</script></a>
<noscript><a href="http://www.histats.com" target="_blank"><img  src="http://sstatic1.histats.com/0.gif?1306912&101" alt="" border="0"></a></noscript>
<!-- Histats.com  END  -->

  </head>
  <body>

    <div class="site">
      <div class="title">
        <a href="/">oguz bilgic</a>
        <a class="extra" href="/about.html">about me</a>
      </div>

      {{ content }}

      <div class="footer">
        <div class="contact">
          <p>
          Oguz Bilgic<br />
          entrepreneur + USC sophomore<br />
          obilgic at usc dot edu
          </p>
        </div>
        <div class="links">
          <p>
          <a href="http://github.com/oguzbilgic">github.com/oguzbilgic</a><br />
          <a href="http://twitter.com/oguzbilgic">twitter.com/oguzbilgic</a><br />
          <a href="http://facebook.com/oguzbilgic">facebook.com/oguzbilgic</a>
          </p>
        </div>
      </div>
    </div>

  </body>
</html>

