---
layout: default
---
<div id="post">
  {{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
    <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>

{% if site.disqus.enable %}
<div id="comment">
  <h1>Comments</h1>
  <div id="disqus_thread"></div>

  <script
    type="text/javascript"
    src="http://disqus.com/forums/oguzbilgic/embed.js">
  </script>
</div>
{% endif %} 
